{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PupParadise</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav style="background-color:rgb(211,214,228) ;">
      <div class="nav-wrapper">
        <ul>
          <li><a  class="right brand-logo" style="color:#455d7a;">&nbsp;&nbsp; <img src="https://i.imgur.com/ZQGgebT.png" style="width: 200px; height:60px;"/></a></li>
        </ul>
        <ul style="margin-left: 600px;" >
          <li><a href="/about" style="font-size: 21px;color:#455d7a; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">About</a></li>
          <li><a href="/puppies" style="font-size: 21px;color:#455d7a; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">View All My Puppies</a></li>
          <li><a href="{% url 'puppies_create' %}" style="font-size: 21px;color:#455d7a; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Add a Puppy</a></li>
          <li><a href="{% url 'toys_create' %}" style="font-size: 21px; color:#455d7a; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Add a Toy</a></li>
		  <li><a href="{% url 'toys_index' %}" style="font-size: 21px; color:#455d7a; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">View All Toys</a></li>
          
          
        </ul>
      </div>
    </nav>
  </header>
  <main class="container"  >
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer" style="background-color:rgb(175,179,195) ;">
    <div class="right">All Rights Reserved, &copy; 2023 PupParadise&nbsp;</div>
  </footer>
</body>
</html>
