{% extends 'base.html' %}
{% block content %}

<h1 style="color: black;text-align: center;">Puppy List</h1>

{% for puppy in puppies %}
<a href="/puppies/{{puppy.id }}">
  <div class="card">
    <div class="card-content">
      <span class="card-title" style="color:rgb(197,200,227);text-underline-position: below;font-size: 30px;">{{ puppy.name }}</span>
      <p style="color: black;font-size: 30px;">Breed: {{ puppy.breed }}</p>
      <p style="color: black;font-size: large;">Gender: {{ puppy.gender }}</p>
      <p style="color: black;font-size: large;">Description: {{ puppy.description }}</p>
      {% if puppy.age > 0 %}
        <p style="color: black;font-size: large;">Age: {{ puppy.age }}</p>
      {% else %}
        <p style="color: black;font-size: large;">Age: Newborn Puppy</p>
      {% endif %}
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}
