{% extends 'base.html' %}

{% block content %}
<div style="background-color: white; display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div>

{% if object %}
    <h1 style="color: black; text-align: center;">Edit <span class="blue-text">{{object.name}}</span></h1>
  {% else %}
    <h1 style="font-size: 50px; color:black;justify-content: center;text-align: center;">Add Puppy</h1>
  {% endif %}


  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form action="" method="post">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table style="font-size: 20px;">
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn" style="color:white;background-color: rgb(197,200,227);width: 800px;align-items: center;justify-content: center; text-align: center;align-self: center;display: flex;font-size: larger;">
  </form>
{% endblock %}
