
{% extends 'base.html' %}
{% block content %}

<h1>About the Puppy Collector</h1>
<hr />
<p>Hire the Puppy Collector!</p>

<h4> Welcome to our Puppy Collector website, where you can find a comprehensive list of all the adorable puppies in our collection. Each puppy is listed with their breed and age, making it easy for you to find your perfect furry companion.
     Our website provides all the information you need to know about each puppy, including their age, gender, and description. 

    
</h4>

<h5> Thank you for visiting our Puppy Collector website, and we hope that you find the perfect furry companion to bring home and love for years to come!</h5>

{% endblock %}
