
{% extends 'base.html' %}
{% block content %}




<div style="background-color: white; display: flex; justify-content: center; align-items: center; height: 40vh;">
	
<h4 style="color: rgb(129,135,193); font-size: 65px; margin-top: 20vh;"> Unlock the Joy of Puppy Care with us

    
</h4>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
     <img src="https://i.imgur.com/SqlZIxN.png" style="height: 50vh;">
     <img src="https://i.imgur.com/0ngR6tW.png" style="height: 50vh;">
     <img src="https://i.imgur.com/6BYs6Op.png" style="height: 50vh;"/>
     <img src="https://i.imgur.com/F1LGsEt.png" style="height: 50vh;"/>
   </div>
   
{% endblock %}
