body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color:burlywood;
    background-image: url('https://i.imgur.com/EvcLiq5.png');
    
  }
  
  
  main {
    flex: 1 0 auto;
    color:black;
    font-size: medium;
    font-family:Didot, serif ;
    font-weight: 900;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }
  